*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
.idea/gradle.xml
.idea/deploymentTargetSelector.xml
gradle/
gradle/libs.versions.toml
/build
/app/build/
/recyclerview/build/
/captures
.externalNativeBuild
.cxx
local.properties
